.container{
    display: flex;
    flex-direction: column;
   width: 25%;
   padding: 2vw ;
    border: 1px solid;
   
}
@media  (max-width:700px){
    .container{
        width: 60%;
        padding: 3vw;
    }
}
.calcScreen{
    margin-bottom: 2vw;
}
.calcButton{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5vw;
    margin-top: 1vw;

}
button:hover{
    box-shadow: 1px 1px 1px  gray;
    font-weight: 500;
}
button{
    padding: 1vw;
    font-size: 1.5rem;
    border: none;
}
.ac{
    color: brown;
}
.opt{
    color: red;
}
