.calcBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin: 5rem 35rem 5rem 35rem;
    padding: 2rem;
}
.calcScreen{
    margin-bottom: 2rem;
}
.calcButton{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    margin-top: 1rem;

}
button:hover{
    box-shadow: 1px 1px 1px  gray;
    font-weight: 500;
}
button{
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
}
.ac{
    color: brown;
}
.opt{
    color: red;
}